
{{!-- <div class="container">
    <h1 class="title">List of products</h1>

    <div class="product-list">
        {{#each products}}
            <div class="product-item">
                <img class="product-thumbnail" src="{{thumbnail}}" alt="{{title}}">
                <div class="product-details">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                    <p>Code: {{code}}</p>
                    <p>Price: ${{price}}</p>
                    <p>Status: {{status}}</p>
                    <p>Stock: {{stock}}</p>
                    <p>Category: {{category}}</p>
                    <button class="add-button">Añadir</button>
                </div>
            </div>
        {{/each}}
    </div>
</div> --}}
<div class="product-container" id="productContainer"></div>
<script src="/static/js/toCart.js"></script>